:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    text-align: center;
    padding-bottom: 20px;
}

main {
    border: 1px solid white;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    padding: 15px 5px;
}

.in {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px
}

.in .input-screen {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: rgb(30, 220, 226);
    border: 1px solid black;
    font-size: 20px;
    overflow: hidden;
    padding: 5px;


}

.clear-btn,
.clear-end {
    background-color: red;
    color: white;
    padding: 5px 15px;
    text-align: center;
    border-radius: 3px;
}

.content {
    padding: 20px 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.content button {

    text-align: center;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 0px 0px 2px rgb(103, 103, 114);
    cursor: pointer;
}

.content .div-op,
.mul-op,
.min-op,
.add-op {
    background-color: rgba(238, 178, 66, 0.836);
    text-align: center;
    padding: 10px 20px;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
}

.content .num,
.dec-op {

    border-radius: 5px;
    /* border: 2px solid #f6f6f6; */
    background-color: #f6f6f6;
    border: none;


}

.equal {
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;

}

.active:hover {
    outline: 2px solid black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: 0.1s;


}